<%

#require 'xml/xpath'

class_name = params[:class_name]

puts Socratic.document

methods = [];

Socratic.document.find("/sources/source.js.objj/meta.implementation.js.objj[normalize-space(string(entity.name.type.js.objj))='#{class_name}']").each do |node|
    node.find('.//meta.function.js.objj').each do |method_node|
        methods << method_node.content
    end
end

%>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang = "en" lang = "en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= params[:class_name] %></title>
<!--
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/code.css" type="text/css" media="screen" />
-->
    </head>
    <body>
        <h1><%= params[:class_name] %></h1>
        <h2>Overview</h2>
        <h2>Public Methods</h2>
        <ul
            <% methods.each do |method| %>
                <li><%= method %></li>
            <% end %>
        </ul>
    </body>
</html>
